<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Data Penumpang Kapal</title>
    </head>
    <header>
        <a href="/">Home</a>
    </header>
    <h1>Data Penumpang Kapal</h1>
    <!-- Subtitle -->
    <h3>
        Data Penumpang Kapal dari dan ke Kepulauan Seribu Bulan Januari-Desember
        2021
    </h3>
    <body>
        <a href="/data_penumpang_kapal">Dataset</a>
        <a href="/prediksi_kepenuhan">Prediksi kepenuhan</a>
        <a href="/track_focus">Track focus</a>
    </body>
</html>
