<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Track focus</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/main.css') }}"
        />
    </head>
    <h1>Track focus</h1>
    <body>
        <form action="/track_focus" method="post">
            <button type="submit" name="button1" value="add">Add</button>
            <button type="submit" name="button1" value="subs">Substract</button>
        </form>
        <div class="result">
            {% if status == None %}
            <p>
                Klik <b>Add</b> untuk melihat perjalanan yang perlu ditambahkan
                dari pelabuhan atau <b>Substract</b> untuk melihat perjalanan
                yang perlu dikurangi dari pelabuhan.
            </p>
            {% endif %} {% if status == "add" %}
            <p><b>Which harbor needs more travels?</b></p>
            {% endif %} {% if status == "subs" %}
            <p><b>Which harbor needs less travels?</b></p>
            {% endif %} {% if pelabuhan %}
            <p>{{', '.join(pelabuhan)}}</p>
            {% endif %}
        </div>
    </body>
    <footer>
        <div id="homebutton"><a href="/">Home</a></div>
    </footer>
</html>
